.singleWineBackend {
  margin: 100px auto;
  height: 500px;
  width: 500px;

}

li.wineList {
  font-size: 20px;
}

ul.editDeleteWineUL {
  list-style-type: none;
  padding: 0;
}

form.editDeleteWineForm {
  height: 350px;
  width: 300px;
  border: 2px solid black
}

input.editDeleteWineInput {
  height: 30px;
  width: 270px;
  margin: 4px;
  border: 1px solid black
}

input.editDeleteWineTeaxtArea {
  vertical-align: top;
  height: 130px;
  width: 270px;
  margin: 4px;
  border: 1px solid black
}

.wineListBack {
  display: flex;


}
.wineListBack ul {
  list-style-type: none;
  justify-content: center;

}

.wineHeadingBack {
  padding-left: 5vh;
}

.wineListBack li {
  display: inline-block;
  margin: 4vh;
  background-image: url('../images/wineBG.png');
}

.wineImgBack {
  width: 50vh;
  height: 50vh;
  margin: 20px -40px 20px 20px;
}

.wineListBack li:hover {
  cursor: pointer;
}
.wineImgBack:hover {
  opacity: 0.3;

}
.wineListBack h3 {
  padding-left: 10vh;
}
