
.usPageContatainer {
  display: inline-block;
  margin-top: -85px;
  margin-left: 10vh;
  margin-right: 10vh;
}
.usImage {
  height: 750px;
  width: 500px;
}

@media only screen and (max-width: 1100px) {
  .usImage {
    display: none;
  }
  .usPageContatainer {
    display: none;
  }
}
