.singleSellerBackend {
  margin: 100px auto;
  height: 500px;
  width: 500px;

}

li.wineList {
  font-size: 20px;
}

ul.editDeleteSellerUL {
  list-style-type: none;
  padding: 0;
}

form.editDeleteSellerForm {
  height: 470px;
  width: 300px;
  border: 2px solid black
}

input.editDeleteSellerInput {
  height: 30px;
  width: 270px;
  margin: 4px;
  border: 1px solid black
}

input.editDeleteSellerTeaxtArea {
  vertical-align: top;
  height: 130px;
  width: 270px;
  margin: 4px;
  border: 1px solid black
}

.sellerListBack {
  display: flex;
}

.sellerHeadingBack {
  text-align: center;
}

.sellerListBack ul {
  list-style-type: none;
  padding: 10px;
  margin: 5px;
}

li.sellerListLiBack {
  background-image: url('../images/wineBG.png');
  justify-content: space-around;
  padding: 3vh;
  display: inline-block;
  margin: 3vh;
}

.sellerImgBack {
  height: 15vh;
  width: 15vh;
  border-radius: 7.5vh;
}

.sellerListLiBack:hover {
  cursor: pointer;
}

.sellerContainerBack {

  margin: 10px;
}
