.contactContainer {
  display: inline-block;
  /* background-color: lavender; */

}

form {
  /* border: 2px solid black; */
  /* border-radius: 7px; */
  display: inline-block;
  padding: 5vh;
  margin: 2vh 0;
  background-image: url('../images/formBG.png');
  /* position: absolute; */
}

ul.formUL {
  list-style-type: none;
  padding: 0;
}

li.formLI {
  margin: 1vh;
  text-align: left;
}

input {
  margin-top: 1vh;
  /* margin-left: 1vh; */
  font-size: 3vh;
}

.contactText {
  width: 70vh;
  height: 30px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.3vh;
}

.contactTextarea {
  vertical-align: top;
  text-align: left;
  width: 70vh;
  height: 30vh;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 3vh;
  padding: 0.3vh 0.5vh;
}

.contactSubmit {
  border: 1px solid black;
  border-radius: 4px;
  height: 30px;
  width: 50px;
  font-size: 10px;
}

@media only screen and (max-width: 900px) {
  .contactText {
    width: 45vh;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.3vh;
  }

  .contactTextarea {
    vertical-align: top;
    text-align: left;
    width: 45vh;
    height: 30vh;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 3vh;
    padding: 0.3vh 0.5vh;
  }

  form {
      display: inline-block;
      padding: 3vh 3vh;
      margin: 1vh 0;
    }

}
