.winesContainer {
  /* background-color: lavender; */
}

ul.winesUL {
  list-style-type: none;
  padding: 0;
}

li.winesLI {
  padding: 10px;
  background-image: url('../images/wineBG.png');
  margin: 40px;
  display: inline-block;
  position: relative;
  text-align: center;

}

.wineDescription {
  width: 340px;
  /* z-index: -1; */
  position: absolute;
  bottom: 16px;
  left: 40px;
  color: black;
  font-weight: 450;
  text-align: left;
  display: none;
}
.wineImg  {

  background-size: cover;
  margin: 20px -40px 20px 20px;
  height: 350px;
  width: 350px;
  display: inline-flex;
  flex-direction: column-reverse;
}

@media only screen and (max-width: 600px) {

  ul {
    list-style-type: none;
    padding: 0;
  }

  li.winesLI {
    margin: 30px;
  }
  .wineImg  {
    background-size: cover;
    margin: 10px -20px 10px 10px;
    height: 270px;
    width: 270px;
    display: inline-flex;
    flex-direction: column-reverse;
  }

  .wineDescription {
    width: 260px;
  }
}

.wineImg:hover {
  opacity: 0.3;
  cursor: pointer;
}
.wineImg:hover + .wineDescription {
  display: inline-block;
}

.wineHeading {
  color: black;
}
